body {
    padding: 60px 460px;
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/07/Screenshot-2021-07-20-at-9.10.06-PM.png")
}    

h1 {
 font-style: normal;
}

label {
 font-size: 20px;
}

input {
 border-style: double;
 margin-top: 25px;
 height: 30px;
 font-size: large;
 width: 500px;
background-color: rgb(186, 202, 180);

}

button{
font-size: 20px;
font-style: oblique;
align-items: center;
/* margin-left: 200px; */
}